.body {
  background-color: #121212;
  border-radius: 30px;
}

.navbar {
  background-color: #1f2933;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  border-radius: 50px;
  height: 30px;
}

.button {
  justify-content: space-between;
}

.logo {
  color: #f1f5f9;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.logoimg {
  height: 40px;
}

.login {
  background-color: #1f2933;
  border: none;
  color: #84cc16;
  padding-right: 15px;
}

.btn {
  background: linear-gradient(to right, #315204, #84cc16);
  color: black;
  padding: 10px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btngreen {
  background: #84cc16;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  color: #121212;
}

.btng2 {
  background-color: #121212;
  color: #2dd4bf;
  border: none;
  margin-left: 20px;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px;
}

.herotext {
  width: 50%;
}

.herotext h1 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #f1f5f9;
}

.herotext p {
  margin-bottom: 20px;
  color: #9ca3af;
}

.heroimage {
  height: 350px;
}

.heroimage img {
  max-height: 100%;
  height: auto;
}

.trust {
  background-color: #1f2933;
  color: #f1f5f9;
  text-align: center;
  padding: 20px 50px;
}

.trust h2 {
  text-align: center;
  color: #f1f5f9;
}

.trustimage {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 100px;
}

.features {
  padding: 60px;
  text-align: center;
}

.features h2 {
  color: #f1f5f9;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background-color: #1f2933;
  padding: 20px;
  width: 220px;
  border-radius: 16px;
  color: whitesmoke;
  border: 2px solid #609510;
}

.cta {
  background: #6095107e;
  padding: 20px 30px;
  text-align: center;
  border-radius: 500px;
}

.cta h1 {
  margin-bottom: 20px;
  color: #f1f5f9;
}

.cta p {
  color: #f1f5f9;
  margin-bottom: 20px;
}

.btn2 {
  padding: 10px;
  background-color: #f1f5f9;
  color: #132f27;
  font-weight: bold;
  border-radius: 50px;
}

.financial1 {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.financialtext1 {
  width: 30%;
  color: #f1f5f9;
  margin-left: 50px;
}

.financialimage1 {
  display: flex;
  justify-content: right;
  align-items: right;
  width: 40%;
  height: 200px;
  margin-right: 50px;
}

.financial2 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.financialimage2 {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 40%;
  height: 200px;
  margin-left: 50px;
}

.financialtext2 {
  width: 30%;
  color: #f1f5f9;
  margin-right: 50px;
}

.endnote {
  color: #f1f5f9;
  display: flex;
  justify-content: space-around;
  background-color: #1f2933;
  margin-top: 50px;
  /* display: grid; */
  /* grid-template-columns: 2fr 1fr 1fr 1fr; */
}

.endnotetext h2 {
  display: flex;
  align-items: center;
}

.footer {
  text-align: center;
  padding-bottom: 20px;
  color: #aaa;
}
