/* ! In Auth.module.css file there is a global style for button. 
   ! Eroor didnt catched untill dd5036a0123a86548ed6645292b665ef0d0c7074
   ! Here is the code to unset the styles */

.body button {
  all: unset;
}

/* ! */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Header */
.body {
  background-color: #121212;
  width: 100%;
  min-height: 150vh;
  margin: 0;
  font-family: "Inter", sans-serif;
}
.body a {
  all: unset;
}
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(8px);
  background-color: null;
  padding: 10px 25px;
}
.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.links a {
  all: unset;
}
.links button {
  color: #9ca3af;
  padding: 0 15px;
  cursor: pointer;
}
.links a button:hover {
  color: #f5f6f6;
  padding: 0 15px;
  cursor: pointer;
  background-color: #00000000;
}

.btn button {
  cursor: pointer;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 10px;
}

.btn .login {
  color: #f5f6f6;
}
.login:hover {
  background-color: #2dd4bf;
}
.btn .signup {
  background-color: #84cc16;
}
.signup:hover {
  background-color: #66a00f;
}
/* Hero */

.hero {
  text-align: center;
  margin: 30px auto;
}

.hero h1 {
  font-size: 3rem;
  margin: 0 auto;
  font-weight: bold;
  color: #f5f6f6;
}

.hero .colored {
  color: #84cc16;
}

.hero p {
  color: #f5f6f6;
  padding: 20px auto;
  line-height: 1.5rem;
  font-size: large;
}

.hero .signup {
  cursor: pointer;
  background-color: #84cc16;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 10px;
}
.hero .signup:hover {
  background-color: #66a00f;
}

.hero .more {
  cursor: pointer;
  border: 1px solid #374251;
  color: #f5f6f6;
  margin: 0 5px;
  padding: 10px 20px;
  border-radius: 10px;
}
.hero .more:hover {
  background-color: #2dd4bf;
}

.middle {
  padding: 25px 10px;
  background-color: #141618;
  text-align: center;
}

.middle .stitle,
.testimonials .stitle {
  color: #f5f6f6;
  font-size: 3rem;
}
.middle .sdescription,
.testimonials .sdescription {
  color: #9ca3af;
  font-size: 1.5rem;
}
.cardlayout {
  display: flex;
  gap: 20px;
  align-content: space-evenly;
  padding: 20px 150px;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #202932;
  padding: 20px;
  border: 1px solid #9ca3af60;
  border-radius: 20px;
}

.middle .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #84cc16;
}

.card .icon {
  width: fit-content;
  border-radius: 100px;
  background-color: #66a00f2a;
  padding: 20px;
}
.card .cardtitle {
  font-size: 1.5rem;
  color: #f5f6f6;
  margin: 0;
  margin-top: 10px;
}

.card .cardDescription {
  color: #9ca3af;
  font-size: 1rem;
}

.testimonials {
  padding: 25px 10px;
  text-align: center;
  color: #9ca3af;
}
.testimonials .cardlayout {
  text-align: left;
}
.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  justify-content: left;
  align-items: center;
}
.propic img {
  height: 50px;
}

.details {
  padding: 10px 5px;
}
.details .name {
  color: #f5f6f6;
  font-weight: bold;
}
.details .fac {
  font-size: 14px;
}

.hr {
  background-color: #9ca3af;
  padding: 20px auto;
  height: 1px;
  border: none;

  margin: 0;
}

.footer {
  padding: 50px 30px;
  display: flex;
  gap: 20px;
}
.app {
  flex: 1;
}
.app .des {
  color: #9ca3af;
  font-size: 15px;
  padding: 20px 0;
}
.column {
  flex: 1;
  padding: 0 20px;
}
.column .title {
  color: #f5f6f6;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 10px 0;
}

.column .items {
  color: #9ca3af;
  padding-bottom: 10px;
  font-size: 15px;
}
.column .items:hover {
  cursor: pointer;
  color: #f5f6f6;
}
.footertxt {
  color: #9ca3af;
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.heroimg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.heroimg img {
  width: 60%;
}
