.body{
    background-color: #121212;
    border-radius: 30px;
}

.navbar {
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    border-radius: 50px;
    height: 30px;
}

.button{
    justify-content: space-between;
}

.logo{color: #f1f5f9;
margin-top: 0;
}

.login{
    background-color: #2e2e2e;
    border: none;
    color: #84cc16;

}

.btn{
    background-color: #84cc16;
    color: black;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btngreen{
    background-color: #84cc16;
    border-radius: 20px;
    padding: 5px;
}

.btng2{
    background-color: #121212;
    color: #2dd4bf;
    border: none;
    margin-left: 20px;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.herotext{width: 50%;}

.herotext h1{
    font-size: 40px;
    margin-bottom: 15px;
    color: #f1f5f9;
}

.herotext p{
    margin-bottom: 20px;
    color: #9ca3af;
}

.features{
    padding: 60px;
    text-align: center;
}

.features h2{
    color: #f1f5f9;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card{
    background-color: #1f2933;
    padding: 20px;
    width: 220px;
    border-radius: 16px;
    color: whitesmoke;
}

.cta{
    background-color: #132f27;
    padding: 50px;
    text-align: center;
    border-radius: 500px;
}

.cta h1{
    margin-bottom: 20px;
    color: #f1f5f9;
}

.btn2{
    padding: 10px;
    background-color: #f1f5f9;
    color: #132f27;
    border-radius: 50px;
}

.footer{
    text-align: center;
    padding: 20px;
    color: #aaa;
}